.main{
    width: 100%;
    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        font-size: 2rem;
        border-bottom: 1px solid orangered;
        h1{
            margin: 0;
            text-transform: capitalize;
        }
    }
    &-list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.empty{
    text-align: center;
    font-size: 3rem;
    color: #666;
    text-transform: uppercase;
}