.ctg{
    width: 300px;
    background: #333;
    height: 100vh;
    border-right: 1px solid orangered;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    bottom: 0;
    .toggle-btn{
        display: none;
    }
    h2{
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
        border-bottom: 1px solid beige;
        margin-bottom: 0;
    }
    &-list{
        margin: 0;
        list-style: none;
        padding: 0;
        &__item{
            width: 100%;
            padding: 20px 0 20px 25px;
            border-bottom: 1px solid beige;
            transition: .2s;
            text-transform: uppercase;
            cursor: pointer;
            &.active{
                padding-left: 40px;
                color: orangered;
                font-weight: bold;
                background: beige;
                border-color: orangered;
            }
        }
    }
}
.show-ctg{
    transform: translateX(0) !important;
}
@media (max-width: 1024.5px) {
    .ctg{
        transform: translateX(-100%);
        transition: .2s;
        .toggle-btn{
            position: absolute;
            content: '>';
            top: 50%;
            transform: translate(100%, -50%);
            right: 0;
            border-radius: 0 50% 50% 0;
            background: orangered;
            width: 30px;
            opacity: .4;
            height: 50px;
            border: none;
            font-size: 1.5rem;
            color: beige;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s;
            &:hover{
                opacity: 1;
            }
        }
    }
}